/*don't edit this area */
h1, h2, h3, p, body, div {
    font-family: Tahoma, Helvetica, sans-serif;
    margin: 0;
    padding: 0;  
}

h1  {  
    font-size: 1.8em; 
    margin: 0.25em 0 0.25em 0;
}
h2  {   
    font-size: 1.2em;    
    margin: 0.5em 0 0.25em 0;
}
p, body {
    font-size: 0.9em;
} 
p {
    margin-bottom: 1em;
}  
body {
    background-color: white; 
}
/*don't edit this area*/


/* Goal 1: start */
/* you cannot insert, modify, or delete the selectors */
fieldset {
    margin: 5em 5em 5em 5em; /* don't change the margin */
    padding: 0.5em;
}

table {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5em;
}

table tbody td{
    margin: 0.1em;
    padding: 0.1em;
    width: 60%;
}

legend {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 0.1em 21em;
    background-color: rgb(223, 236, 243);
    font-weight: bold;
}

form p {
    margin: 0.1em;
    padding: 0.1em;
}

.box {
    margin-bottom: 0.5em;
    padding: 0.5em;
    border-style: solid;
    border-color: rgb(176, 227, 255);
    border-width: 0.1rem;
}

.rectangle {
    margin: 0.1em;
    padding: 0.3em;
    background-color: rgb(223, 236, 243);
}

.centered {
    margin: 0.1em;
    padding: 0.1em;
    text-align: center;
}

.rounded {
    margin: 0.5em 0.1em;
    padding: 0.1em;
    background-color: #90A0C2;
    color: white;
    width: 6em;
    height: 2em;
    border-radius: 0.5em;
    border-width: 0.1em;
}

/* Goal 1: end */


/* Goal 2: start */
article {
    background-color: #F5F5F5;
    margin: 5em 5em 5em 5em;
    padding: 1em 20px;
    display: flex;
    flex-direction: column;
}

figure {    
    float: left;
    padding: 0 1em ;
    position: relative;
}

figcaption {
    width: 140px;
    background-color: black;
    color:white;
    opacity:0.7;
    height: 20px;
    padding: 5px;
    position: absolute;
    top: 120px;
}

.overlayed {
    position: absolute;
    top: 0px;
    left: 0px;
}

.entry {
    border-top: 1pt solid #ff8800;
}

.right {
    float: right;   
}

.linkbutton {
    margin-top: 2em;
    background-color: #ff8800;
    display: block;
    padding: 10px 10px;
    color: white;
    text-decoration: none; 
    font-size: 0.75em;   
}
/* Goal 2: end */